output
examples/**
!examples/readme.md
models/**
!models/readme.md
inspect
test
bin/pcnaDeep/test_*.py
__pycache__
.DS_Store
.ipynb_checkpoints
.Rhistory

# sphinx
_build

# idea
.idea

# pypi
build
*.egg-info
dist